{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block tittle %}Packages{% endblock %}
{% block extra_css %}
    <style>
        {#body {#}
        {#    font-family: Arial, sans-serif;#}
        {#    line-height: 1.6;#}
        {#    margin: 0;#}
        {#    padding: 0;#}
        {#    background-color: #f4f4f4;#}
        {
        #}#}

        {#.container {#}
        {#    width: 80%;#}
        {#    margin: auto;#}
        {#    overflow: hidden;#}
        {
        #}#}

        {#header {#}
        {#    background: #333;#}
        {#    color: #fff;#}
        {#    padding-top: 30px;#}
        {#    min-height: 70px;#}
        {#    border-bottom: #0779e4 3px solid;#}
        {
        #}#}

        {#header a {#}
        {#    color: #fff;#}
        {#    text-decoration: none;#}
        {#    text-transform: uppercase;#}
        {#    font-size: 16px;#}
        {
        #}#}
        {##}
        {#header ul {#}
        {#    padding: 0;#}
        {#    list-style: none;#}
        {
        #}#}
        {##}
        {#header li {#}
        {#    float: left;#}
        {#    display: inline;#}
        {#    padding: 0 20px 0 20px;#}
        {
        #}#}

        header #branding {
            float: left;
        }

        header #branding h1 {
            margin: 0;
        }

        header nav {
            float: right;
            margin-top: 10px;
        }

        #showcase {
            min-height: 400px;
            background: url('https://example.com/your-image.jpg') no-repeat center center/cover;
            text-align: center;
            color: #fff;
        }

        #showcase h1 {
            margin-top: 100px;
            font-size: 55px;
            margin-bottom: 10px;
        }

        #showcase p {
            font-size: 20px;
            color: green;
        }

        .info {
            margin: 20px 0;
        }

        .info img {
            width: 100%;
            height: auto;
        }

        .info h2 {
            text-align: center;
            padding: 10px;
            color: green;
        }

        .info p {
            color: green;
        }

        footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 30px;
            margin-top: 30px;
        }

        }
        }
        }
        }
        }
        }
    </style>
{% endblock %}
{% block main %}

<body>
    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">{% blocktrans %}Packages{% endblocktrans %}</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">{% blocktrans %}Home{% endblocktrans %}</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">{% blocktrans %}Packages{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    


    <!-- Blog Start -->
     <div class="container-fluid py-3">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                {#            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">#}
                {#                {% blocktrans %}Packages{% endblocktrans %}</h6>#}
                <h1>{% blocktrans %}Perfect Tour Packages{% endblocktrans %}</h1>
            </div>
            <div class="row">
                {% for package in packages %}
                	
                
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="package-item bg-white mb-2">
                            {% if package.image %}
                                <img class="img-fluid" src="{{ package.image.url }}" alt="">
                            {% else %}
                                <img class="img-fluid" src="{% static 'img/bukhara.jpg' %}" alt="Default Image">
                            {% endif %}

                            <div class="p-4">
                                <div class="d-flex justify-content-between mb-3">
                                    <small class="m-0"><i
                                            class="fa fa-map-marker-alt text-primary mr-2"></i>{{ package.destination }}
                                    </small>
                                    <small class="m-0"><i
                                            class="fa fa-calendar-alt text-primary mr-2"></i>{{ package.duration }}
                                    </small>
                                    {#                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>#}
                                </div>
                                <a class="h5 text-decoration-none"
                                   href="{% url 'package-detail' package.slug %}">{{ package.name }}</a>
                                                            <div class="border-top mt-4 pt-4">
                                                                <div class="d-flex justify-content-between">
                                                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                                                    <h5 class="m-0">{{ package.price }}</h5>
                                                                </div>
                                                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!-- Blog End -->

{% endblock %}
