{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block tittle %}Main Page{% endblock %}
{% block main %}
    <body>
    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            {#                        <h4 class="text-white text-uppercase mb-md-3">#}
                            {#                            {% blocktrans %}Tours & Travel{% endblocktrans %}</h4>#}
                            <h1 class="display-3 text-white mb-md-4">
                                {% blocktrans %}Your guide to the Central Asia{% endblocktrans %}</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-lg-center justify-content-lg-center">
                        <div class="p-3" style="max-width: 900px;">
                            {#                        <h4 class="text-white text-uppercase mb-md-3">#}
                            {#                            {% blocktrans %}Tours & Travel{% endblocktrans %}</h4>#}
                            <h1 class="display-3 text-white mb-md-4">
                                {% blocktrans %}Discover the history of Central Asia with Silk
                                    Route{% endblocktrans %}</h1>
                            {#                        <a href="{% url 'booking' %}" class="btn btn-primary py-md-3 px-md-5 mt-2">#}
                            {#                            {% blocktrans %}Book Now{% endblocktrans %}</a>#}
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Booking Start -->
    {#<div class="container-fluid booking mt-5 pb-5">#}
    {#    <div class="container pb-5">#}
    {#        <div class="bg-light shadow" style="padding: 30px;">#}
    {#            <div class="row align-items-center" style="min-height: 60px;">#}
    {#                <div class="col-md-10">#}
    {#                    <div class="row">#}
    {#                        <div class="col-md-3">#}
    {#                            <div class="mb-3 mb-md-0">#}
    {#                                <select class="custom-select px-4" style="height: 47px;">#}
    {#                                    <option selected>Destination</option>#}
    {#                                    <option value="1">Destination 1</option>#}
    {#                                    <option value="2">Destination 1</option>#}
    {#                                    <option value="3">Destination 1</option>#}
    {#                                </select>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-md-3">#}
    {#                            <div class="mb-3 mb-md-0">#}
    {#                                <div class="date" id="date1" data-target-input="nearest">#}
    {#                                    <input type="text" class="form-control p-4 datetimepicker-input"#}
    {#                                           placeholder="Depart Date" data-target="#date1" data-toggle="datetimepicker"/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-md-3">#}
    {#                            <div class="mb-3 mb-md-0">#}
    {#                                <div class="date" id="date2" data-target-input="nearest">#}
    {#                                    <input type="text" class="form-control p-4 datetimepicker-input"#}
    {#                                           placeholder="Return Date" data-target="#date2" data-toggle="datetimepicker"/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-md-3">#}
    {#                            <div class="mb-3 mb-md-0">#}
    {#                                <select class="custom-select px-4" style="height: 47px;">#}
    {#                                    <option selected>Duration</option>#}
    {#                                    <option value="1">Duration 1</option>#}
    {#                                    <option value="2">Duration 1</option>#}
    {#                                    <option value="3">Duration 1</option>#}
    {#                                </select>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-2">#}
    {#                    <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">#}
    {#                        Submit#}
    {#                    </button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}
    <!-- Booking End -->

    <div class="container-fluid py-3">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                {#            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">#}
                {#                {% blocktrans %}Packages{% endblocktrans %}</h6>#}
                <h1>{% blocktrans %}Perfect Tour Packages{% endblocktrans %}</h1>
            </div>
            <div class="row">
                {% for package in package_list %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="package-item bg-white mb-2">
                            {% if package.image %}
                                <img class="img-fluid" src="{{ package.image.url }}" alt="">
                            {% else %}
                                <img class="img-fluid" src="{% static 'img/bukhara.jpg' %}" alt="Default Image">
                            {% endif %}

                            <div class="p-4">
                                <div class="d-flex justify-content-between mb-3">
                                    <small class="m-0"><i
                                            class="fa fa-map-marker-alt text-primary mr-2"></i>{{ package.destination }}
                                    </small>
                                    <small class="m-0"><i
                                            class="fa fa-calendar-alt text-primary mr-2"></i>{{ package.duration }}
                                    </small>
                                    {#                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>#}
                                </div>
                                <a class="h5 text-decoration-none"
                                   href="{% url 'package-detail' package.slug %}">{{ package.name }}</a>
                                {#                            <div class="border-top mt-4 pt-4">#}
                                {#                                <div class="d-flex justify-content-between">#}
                                {#                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>#}
                                {#                                    <h5 class="m-0">$350</h5>#}
                                {#                                </div>#}
                                {#                            </div>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>

    <!-- About Start -->
    <div class="container-fluid py-3">
        <div class="container pt-5">
            <div class="text-center mb-3 pb-3">
                <h1>{% blocktrans %}About Us{% endblocktrans %}</h1>
            </div>
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/khiva_about.png' %}"
                             style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                        {#                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">#}
                        {#                        {% blocktrans %}About Us{% endblocktrans %}</h6>#}
                        <h1 class="mb-3">
                            {% blocktrans %}We offer the best tour packages to fit your budget.{% endblocktrans %}</h1>
                        <p>{% blocktrans %}
                            SILK ROUTE DMC (Destination Management Company) welcomes you to an extraordinary journey
                            through
                            the East, delving deep into traditions and histories spanning thousands of years. We are
                            committed to providing you with an unforgettable holiday, showcasing the jewels of Central
                            Asia,
                            such as Samarkand, Bukhara, and Khiva.

                            Our professional team guarantees high-quality service and aims to enhance your understanding
                            of
                            our culture, history, and geography. We offer a wide range of services, including:
                            <br>
                            - Guided tours to the cities of the Great Silk Road: Tashkent, Samarkand, Bukhara, Khiva,
                            and
                            other historical sites.
                            <br>
                            - Visa support.
                            <br>
                            - Hotel booking with various levels of comfort.
                            <br>
                            - Rental services for vehicles of different classes.
                            <br>
                            - Booking of air and train tickets.
                            <br>
                            - Arrangements for children's and student groups.
                            <br>
                            - Participation in Uzbekistan's various festivals.
                            <br>
                            - Tailored tours encompassing bike trips, photo tours, eco-tours, and beyond.
                            <br>
                            Our guides are highly qualified, dependable, and possess essential personal qualities. They
                            are
                            proficient in various foreign languages, including Turkish, Russian, English, French,
                            German,
                            Spanish, Italian, Japanese, and more. The excursions designed by our specialists are
                            individualized, incorporating fascinating historical facts without adhering to standard
                            templates. Our guides and translators boast deep knowledge of the region's history, as well
                            as
                            the culture and traditions of the local populace. They will regale you with legends and
                            stories,
                            immersing you in the enchanting ambiance of the East. Join us and immerse yourself in the
                            unique
                            beauty of Uzbekistan with SILKROUTE!
                        {% endblocktrans %}</p>
                        <div class="row mb-4">
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'img/about_1.png' %}" alt="">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'img/about_2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid pb-5">
        <div class="container pb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                             style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-money-check-alt text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">{% blocktrans %}Competitive Pricing{% endblocktrans %}</h5>
                            <p class="m-0">{% blocktrans %}Get the best value for your money with our competitive
                                pricing on hotel bookings.
                                We work tirelessly to bring you the most attractive rates, ensuring you can enjoy your
                                staywithout breaking the bank.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                             style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-award text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">{% blocktrans %}Best Services{% endblocktrans %}</h5>
                            <p class="m-0">{% blocktrans %}Experience top-notch customer service from the moment you
                                bookuntil the end of your stay.Our dedicated support team is available 24/7 
                                to assist with any questions or concerns,ensuring a seamless and enjoyable experience.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                             style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-globe text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">{% blocktrans %}Cultural and Historical Stays{% endblocktrans %}</h5>
                            <p class="m-0">{% blocktrans %}Immerse yourself in history and culture with our unique
                                accommodations located in historical buildings and cultural hotspots.
                                Enjoy a stay in a Mausoleum, a Mosque, or a boutique hotel in the heart of a vibrant
                                cultural district.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    {#    <!-- Destination Start -->#}
    {#    <div class="container-fluid py-5">#}
    {#        <div class="container pt-5 pb-3">#}
    {#            <div class="text-center mb-3 pb-3">#}
    {#                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>#}
    {#                <h1>Explore Top Destination</h1>#}
    {#            </div>#}
    {#            <div class="row">#}
    {#                <div class="col-lg-4 col-md-6 mb-4">#}
    {#                    <div class="destination-item position-relative overflow-hidden mb-2">#}
    {#                        <img class="img-fluid" src="{% static 'img/destination-1.jpg' %}" alt="">#}
    {#                        <a class="destination-overlay text-white text-decoration-none" href="">#}
    {#                            <h5 class="text-white">United States</h5>#}
    {#                            <span>100 Cities</span>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4 col-md-6 mb-4">#}
    {#                    <div class="destination-item position-relative overflow-hidden mb-2">#}
    {#                        <img class="img-fluid" src="{% static 'img/destination-2.jpg' %}" alt="">#}
    {#                        <a class="destination-overlay text-white text-decoration-none" href="">#}
    {#                            <h5 class="text-white">United Kingdom</h5>#}
    {#                            <span>100 Cities</span>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4 col-md-6 mb-4">#}
    {#                    <div class="destination-item position-relative overflow-hidden mb-2">#}
    {#                        <img class="img-fluid" src="{% static 'img/destination-3.jpg' %}" alt="">#}
    {#                        <a class="destination-overlay text-white text-decoration-none" href="">#}
    {#                            <h5 class="text-white">Australia</h5>#}
    {#                            <span>100 Cities</span>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4 col-md-6 mb-4">#}
    {#                    <div class="destination-item position-relative overflow-hidden mb-2">#}
    {#                        <img class="img-fluid" src="{% static 'img/destination-4.jpg' %}" alt="">#}
    {#                        <a class="destination-overlay text-white text-decoration-none" href="">#}
    {#                            <h5 class="text-white">India</h5>#}
    {#                            <span>100 Cities</span>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4 col-md-6 mb-4">#}
    {#                    <div class="destination-item position-relative overflow-hidden mb-2">#}
    {#                        <img class="img-fluid" src="{% static 'img/destination-5.jpg' %}" alt="">#}
    {#                        <a class="destination-overlay text-white text-decoration-none" href="">#}
    {#                            <h5 class="text-white">South Africa</h5>#}
    {#                            <span>100 Cities</span>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4 col-md-6 mb-4">#}
    {#                    <div class="destination-item position-relative overflow-hidden mb-2">#}
    {#                        <img class="img-fluid" src="{% static 'img/destination-6.jpg' %}" alt="">#}
    {#                        <a class="destination-overlay text-white text-decoration-none" href="">#}
    {#                            <h5 class="text-white">Indonesia</h5>#}
    {#                            <span>100 Cities</span>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- Destination Start -->#}


    <!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">{% blocktrans %}
                    Services{% endblocktrans %}</h6>
                <h1>{% blocktrans %}Tours & Travel Services{% endblocktrans %}</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                        <h5 class="mb-2">{% blocktrans %}Travel Guide{% endblocktrans %}</h5>
                        <p class="m-0">{% blocktrans %}Embark on an unforgettable journey with our expertly crafted
                            travel guide,designed to inspire and inform every traveler. From the bustling cities to serene
                            landscapes,our guide covers the world's most breathtaking destinations with insider tips, must-see
                            attractions, and hidden gems.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                        <h5 class="mb-2">{% blocktrans %}Cheap Flight & Train Tickets{% endblocktrans %}</h5>
                        <p class="m-0">{% blocktrans %}Find the most affordable flight and train tickets with ease. Our
                            service ensures you secure the best deals for both short getaways and long journeys, making
                            travel affordable for everyone.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                        <h5 class="mb-2">{% blocktrans %}Hotel Booking{% endblocktrans %}</h5>
                        <p class="m-0">{% blocktrans %}Find the perfect place to rest and recharge with our
                            comprehensive hotel booking service.
                            From luxurious resorts to cozy bed and breakfasts, our platform offers a wide range of
                            accommodations to suit every traveler's needs and preferences.{% endblocktrans %}</p>
                    </div>
                </div>
                <!-- New Category for Custom and Group Tours -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-users mx-auto mb-4"></i>
                        <h5 class="mb-2">{% blocktrans %}Custom & Group Tours{% endblocktrans %}</h5>
                        <p class="m-0">{% blocktrans %}We offer individual and group tours, tailored to your needs.
                            Whether you're looking for personalized itineraries or group excursions, we've got you
                            covered. Let us help you explore and experience destinations like never
                            before.{% endblocktrans %}</p>
                    </div>
                </div>
                <!-- New Category for Transfers and Corporate Trips -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-car mx-auto mb-4"></i>
                        <h5 class="mb-2">{% blocktrans %}Transfers & Corporate Trips{% endblocktrans %}</h5>
                        <p class="m-0">{% blocktrans %}We provide individual and group transfers, as well as corporate
                            trips and conference organization services. From airport pickups to business event travel
                            arrangements, we ensure your journey is smooth and stress-free.{% endblocktrans %}</p>
                    </div>
                </div>
                <!-- New Category for Visa Services -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-passport mx-auto mb-4"></i>
                        <h5 class="mb-2">{% blocktrans %}Visa Services{% endblocktrans %}</h5>
                        <p class="m-0">{% blocktrans %}We assist with visa applications upon request. Our team of
                            experts will guide you through the process, ensuring that all the required documents are in
                            order for a successful application.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Service End -->




{% endblock %}
